<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
<img class="minicon" src="images/mountcov.png">
  <div class="box" id="heading">
    <h1><%=theday%></h1>
    <h3>The <%=adj%> To-Do List</h3>

  </div>

  <div class="box">



    <!-- THIS IS AN EJS LIST CREATOR! -->


    <!-- <%for (var i =0; i<newListItems.length; i++){%>
      <div class="item">
      <input type="checkbox">
      <p>
        <form class="" action="/" method="post">
          <input type="text" name="<%=newListItems[i]%>" value="" placeholder="<%=newListItems[i]%>">
        </form>
    </p>
    </div>
    <%}%> -->
  <%for (var i =0; i<newListItems.length; i++){%>
    <div class="item">
    <input type="checkbox">
    <p><%=newListItems[i]%>
  </p>
  </div>
  <%}%>

<form class="item" action="/" method="post">
  <input type="text" name="actionItem" value="" placeholder="New Item" autocomplete="off">
  <button type="submit"  name="submit">+</button>

</form>

</div>
<img class="mount" src="images/mountains.png">
<!-- CLOSE EJS LIST CREATOR -->

  </body>
</html>
